<form method="post" action="{{ path('app_pokedex_pokemon_delete', {'id': pokedex_pokemon.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokedex_pokemon.id) }}">
    <button class="btn">Delete</button>
</form>
